@import url("./reset.css");
@import url("./variaveis.css");

body {
    background: var(--cor-do-fundo);
    /* height: 100vh; */
}

* {
    color: var(--fonte-cor-padrao);
    font-family: var(--fonte-padrao);
}

.botao {
    align-items: center;
    background-color: #33aced;
    border: solid 3px #1c8bc7;
    border-radius: .8rem;
    color: #000000;
    cursor: pointer;
    display: flex;
    font-size: 2rem;
    font-weight: 600;
    justify-content: center;
    height: 3rem;
    margin: 1.3rem auto;
    padding: 1.5rem 1.5rem;
}

.desativado {
    display: none;
}