@import url("./reset.css");
@import url("./variaveis.css");

body {
    background: #9360c2;
    /* height: 100vh; */
}

* {
    color: var(--fonte-cor-padrao);
    font-family: var(--fonte-padrao);
}